parameters:
    paths:
        - src

    level: 8

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::#'

    excludePaths:
        - vendor
